/*
==================================================
# CSS VARIABLES #
==================================================
*/

:root {
  /* Color */
  --bg-color-body: #d1d7db;
  --bg-color-body-secondary: #fff;

  --primary-font-color: #1a3144; /* main fonts color */

  --primary-font-links-color: #3677b8; /* Logo and links */

  --primary-font-nav-links-color: #475569; /* Navbar links color */
  --secondary-font-nav-links-color: #3677b8; /* Navbar hover links color */

  --portrait-border-color: #fff;
  --portrait-bg-color: #3677b8;

  /* Color - Buttons */
  --button-primary-color: #3677b8;
  --button-secondary-color: #e0b354;
  --button-primary-font-color: #fff;
  --button-secondary-font-color: #2b2b2b;

  /* Font */
  --font-family-style: "lato", sans-serif;
  --font-size-normal: 1.125rem;

  /* Screen width */
  --screen-max-width: 1140px;
}

/*
==================================================
# NAVBAR STYLING #
==================================================
*/

.navbar {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: var(--bg-color-body-secondary);
  padding: 0px;
  box-shadow: 0 5px 10px rgb(146 161 176 / 15%);
  z-index: 10;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar-container {
  max-width: var(--screen-max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.nav-logo {
  vertical-align: auto;
}

.logo {
  max-height: 70px;
  display: block;
}

nav ul {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-font-nav-links-color);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 0.8rem;
}

.nav-link {
  /* font-size: 1.6rem; */
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 15px;
  color: var(--primary-font-nav-links-color);
}

.nav-link:hover {
  color: var(--secondary-font-nav-links-color);
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    /* top: 5rem; */
    top: 70px;
    flex-direction: column;
    /* background-color: #fff; */
    background-color: var(--bg-color-body-secondary);
    width: 100%;
    border-radius: 2px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 0.2rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*
==================================================
# GLOBAL / SHARED STYLING #
==================================================
*/

* {
  /* border: 1px solid blue; */
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-body);
  color: var(--primary-font-color);
  font-family: var(--font-family-style);
  font-size: var(--font-size-normal);
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 2.375;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.p-content-highlight {
  font-weight: 700;
  color: var(--primary-font-links-color);
}

a {
  color: var(--primary-font-links-color);
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

/* item element inside a navigation-list block with an active modifier*/
.navigation-list__item--active {
  text-decoration: none;
}

.button,
button {
  /* overwrites browser defaults */
  /* style button */
  background-color: var(--button-primary-color);
  /* resets the border */
  border: none;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: var(--button-primary-font-color);
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  /* cursor: pointer; */
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.main-section-shared {
  /* background-color: yellow; */
  width: 100%;
  /* margin: auto;
  max-width: var(--screen-max-width);

  padding: 0 15px; */
}

/*
==================================================
# INDEX PAGE - MAIN SECTION - STYLE #
==================================================
*/

.profile-section {
  text-align: center;
  margin-top: 80px;
  padding: 50px 0px;
  min-height: 88vh;
}

.profile-content {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin: auto;
  max-width: var(--screen-max-width);
}

.profile-picture,
.profile-description {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  max-width: 50%;
}

.profile-description {
  text-align: left;
}

.profile__portrait {
  border: 3px solid var(--portrait-border-color);
  border-radius: 50%;
  max-width: 250px;
  margin: 0 40px;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: var(--portrait-bg-color);
}

.profile-description-buttons {
  margin: 10px 0px 10px 0px;
}

.btn-profile {
  border: 2px solid #3677b8;
  border-radius: 5px;
  background-color: var(--bg-color-body);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  color: #3677b8;
}

.btn-profile:hover {
  background: #3677b8;
  color: white;
}

.profile-social-icon {
  width: auto;
  height: 35px;
  margin: 10px 5px 10px 0px;
}

@media only screen and (max-width: 768px) {
  .profile-picture,
  .profile-description {
    max-width: 90%;
  }
}

/*
==================================================
# ABOUT SECTION STYLE #
==================================================
*/

.about-section {
  background-color: white;
  text-align: center;
  margin: auto;
  scroll-margin-top: 80px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about-content-top,
.about-content-bottom {
  display: inline-block;
  width: 80%;
}

.about-content-middle {
  margin: 1em 0 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.about-card {
  margin: 0 auto;
  vertical-align: top;
  max-width: 33%;
  min-width: 340px;
  padding: 0 25px 0 25px;
  flex: 1 0 20em;
  display: flex;
  flex-direction: column;
}

.about-card-image {
  height: 100px;
  margin-top: 1em;
}

.card-img {
  height: 100px;
  width: auto;
}

.about-card-heading p {
  height: 5em;
  font-weight: 700;
}

.about-card-description p {
  margin-top: 0px;
}

.about {
  text-align: center;
}

.about-content-bottom {
  font-style: italic;
}

/*
==================================================
# PRODUCT MANAGEMENT SECTION STYLE #
==================================================
*/

.product-management-section {
  text-align: center;
  margin: auto;
  padding: 0 15px;
}

/*
==================================================
# DEV. STACK SECTION STYLE #
==================================================
*/

.devstack-section {
  background-color: white;
  text-align: center;
  margin: auto;
  padding: 0 15px;
}

.devstack-tech-icons-container-top {
  margin-top: 30px;
}

.devstack-tech-icons-container-bottom {
  margin-bottom: 30px;
}

.devstack-tech-icons {
  height: 60px;
  margin: 0 10px 0 10px;
}

.devstack-card-heading p {
  height: 2em;
  font-weight: 700;
}

.devstack-card-list {
  margin-top: 0;
  list-style-type: square;
}

.devstack-card-list {
  text-align: start;
}

.about {
  text-align: center;
}

.skills {
  margin: auto;
}

/*
==================================================
# WORK PAGE STYLE #
==================================================
*/

.portfolio-section-blockchain {
  background-color: white;
}

.grid-item-blockchain {
  background-color: white;
}

.portfolio-section-fullstack {
  background-color: white;
}

.portfolio-section {
  /* background-color: white; */
  text-align: center;
  margin: auto;

  scroll-margin-top: 80px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  width: 100%;
}

/* start grid fallback */
.grid__item {
  border-radius: 3px;
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

.grid__item p {
  font-size: 1rem;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 0;
  }

  .grid__item {
    /* background-color: lightgrey; */
    border: 1px solid #3677b8;
    /* box-shadow: 15px 15px 5px #475569; */
    box-shadow: 3px 15px 20px #475569;

    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
  }

  .grid__item:hover {
    transition: box-shadow 0.2s;
    /* box-shadow: 5px 5px 5px #475569; */
    box-shadow: 0.8px 0.9px 3px #475569;
  }
} /* end of @supports (display: grid)*/

/* ## WORK PAGE - media */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  /* h1 {
    font-size: 26px;
  } */

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 16px;
  }
}

/*
==================================================
# CONTACT PAGE STYLE #
==================================================
*/

.contact-section {
  text-align: center;
  margin: auto;
  padding: 0 15px 30px 15px;
  scroll-margin-top: 80px;
}

.contact-content-left,
.contact-content-right {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  min-width: 200px;
}

.contact {
  text-align: center;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
}

.standard-label {
  text-align: left;
  display: block;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

@media all and (max-width: 700px) {
  .contact-form {
    width: 100%;
  }
}

/*
==================================================
# HEADER SECTION STYLE #
==================================================
*/

.page-header {
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1; /* as an alternative we may use 0 and have the justify-content: space-between in the .page-header to push this element to the right */
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item > a {
  text-decoration: none;
}

/* animated navbar */
.navigation-list__item {
  color: #fff;
  text-decoration: none;
  font: 20px var(--font-family-style);
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.pullUp a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  content: "";
  background: #fff;
  opacity: 0.3;
  transition: all 0.2s;
}

.pullUp a:hover:before {
  height: 100%;
}

.navigation-list__item--active a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  content: "";
  background: #fff;
  opacity: 0.3;
}

/*
==================================================
# FOOTER SECTION STYLE #
==================================================
*/

.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 80px;
}

.footer {
  width: 100%;
  display: flex;
  max-width: var(--screen-max-width);
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.footer img {
  display: block;
}

.footer-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.footer-social-icon32 {
  width: auto;
  height: 32px;
  object-fit: cover;
}

.footer-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-copyright-container p {
  font-size: 16px;
  font-weight: 700;
}

/*
==================================================
# ACCORDION STYLE #
==================================================
*/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  color: var(--secondary-font-nav-links-color);
  text-decoration: underline;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
